@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poppins:wght@400;500;600;700&display=swap');




$body-color: antiquewhite;

$footer-color: #333;

$header-color: #333;

$h2-divisa: black;

$form-card-color: sandybrown;

$manager-h3-color:#333;



body{
    background-color: $body-color;
    height: 111vh;
    font-family: 'calibri';
}



h2{
    color: white;
}

h1{
    color: white;
    font-size: 40px;
    margin-left: 50px;
}


h1{
    color: white;
    font-size: 40px;
    margin-left: 50px;
}


.main-membership{
    font-family: 'Castoro Titling', cursive;
    font-family: 'Poppins', sans-serif;
}