.exchange-title{
    color: black;
    text-align: center;
    font-size: 2rem;
}


.container-exchange {
    display: flex;
    justify-content: space-around;
    margin: 20px;

    .currency-card {
    
        padding: 20px;
        width: 200px;
        text-align: center;
        line-height: 50px;
        height: 400px;
        background-color: sandybrown;
        padding-bottom: 60px;

    h4{
            color: black;
            font-size: 1.5rem;
    }
}
}

// ========== MOBILE =========

@media (min-width: 375px) and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        
    }

    .container-exchange{
        display: grid;
        width: auto;
        justify-content: center;
        text-align: center;
    
    .currency-card{
        height: 300px;
    }
} }

// =============== TABLET ============

@media (min-width: 768px) and (max-width: 1024px){
    .container-exchange{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        height: auto;
        padding-bottom: 100px;
    }
}