.form-card-container{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-card{
        width: 300px;
        height: 370px;
        text-align: center;
        background-color: sandybrown;
        border-radius: 5px;
        padding-top: 20px;
        margin-top: 50px;
    }
}